<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   TM_USERNAME=`niutil -readprop / /users/\$USER realname` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; template_in.txt &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>pt</string>
	<key>name</key>
	<string>Plone: Portlet</string>
	<key>scope</key>
	<string>text.html</string>
	<key>uuid</key>
	<string>745F7CF0-7F6F-4041-83FD-9651C558893D</string>
</dict>
</plist>
